/*Каркас сайта*/
body {padding:0px; margin:0; background:#4c281e; font-size:14px; font-family:Arial, Sans-serif;}
#basic {width:960px; min-height:500px; margin:0 auto; padding:20px 20px 20px 20px; background:#fff;}
img {border:0;}
a {color:#ff9c00;}
a:hover {text-decoration:none;}
 
/*Шапка сайта*/
#head-site {height:70px;}
li.none-bg {background:none!important;}
.telefon {float:right;}

/*Верхнее меню сайта*/
#top-menu {width:960px; height:74px; }
.bg-1 {width:950px; height:64px; background:#4c281e url(images/m1.png) repeat-x; padding:0 0 0 10px;}
.bg-2 {width:940px; height:8px; background:#ff9c00; margin:0 auto;}
.bg-1 ul {margin:0; padding:0; list-style:none;}
.bg-1 ul li {float:left; background:url(images/m2.png) no-repeat right center; padding:0 2px 0 0;}
.bg-1 ul li a {display:block; height:40px; padding:24px 27px 0 27px; color:#ff9c00; text-decoration:none; text-transform:uppercase;}
.bg-1 ul li a:hover {color:#fff; background:#ff9c00;}
 
/*Левое меню и Контент*/
#content {width:960px; padding:20px 0 0 0; }

/*Левое меню - левый блок*/
 .left {width:250px; float:left;}
.block-nad-menu {width:240px; height:10px; background:#ff9c00;}
.block-pod-menu {width:200px; margin:0 0 0 10px; height:10px; background:#4c281e;}
.block-menu {width:240px; border-left:10px solid #ff9c00; background:#4c281e;}
.left ul {margin:0; padding:10px 0 0 0; list-style:none;}
.left ul li {background:url(images/m3.png) no-repeat bottom left;}
.left ul li a {display:block; width:195px; color:#fff; text-decoration:none; padding:10px 5px 10px 40px; background: url(images/marker.png) no-repeat 10px 8px;}
.left ul li a:hover {background:#ff9c00 url(images/marker.png) no-repeat 10px 8px;}
 

 /* Dropdown Button */

.dropbtn {
    background-color: #4c281e;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c281e;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ff9c00;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4c281e;}
/*Контент - правый блок*/
.right { float:right; width:690px; padding:0 0 0 20px; text-align:justify;}
.right h1 {text-transform:uppercase; color:#4c281e; font-weight:normal; margin-top:0;}
 


/*Подвал*/
.myclr {clear:both; float:none; width:100%; height:1px;}
#podval {border-top:10px solid #4c281e; margin-top:20px;}
.yellow {width:940px; height:5px; margin:0 auto; background:#ff9c00;}
.p1 {float:left; width:300px; padding:15px 0 0 0;}
.p2 {float:right; width:200px; text-align:right; padding:15px 20px 0 0;}
.p3 {float:right; width:30px; padding:15px 0 0 0;}
/* tam nu eto ti sam ponyal*/
@media (max-width: 600px) {
 body{ zoom: 58%}
div.bg-1 {
  height : 376px;
}

div.block-menu {
  position : relative;
 width : 295px;1,20
}

div.block-menu>ul {
  height : 288px;
}

div.block-menu>ul>li:nth-of-type(1)>a {
  height : 27px;
}

div.block-menu>ul>li:nth-of-type(2)>a {
  height : 23px;
}

div.block-menu>ul>li:nth-of-type(4)>a {
  position : relative;
}

div.block-menu>ul>li:nth-of-type(5)>a {
  position : relative;
}

div.block-menu>ul>li:nth-of-type(6)>a {
  position : relative;
}

div.block-menu>ul>li:nth-of-type(7)>a {
  position : relative;
}

button.dropbtn {
  position : relative;
}

div.block-menu>ul>li:nth-of-type(5)>a {
  left : -4px;
}

div.block-menu>ul>li:nth-of-type(3)>a {
  position : relative;
  height : 21px;
  left : -1px;
}

div.block-menu>ul>li:nth-of-type(2)>a {
  position : relative;
  left : 1px;
}

#left-menu {
  position : relative;
}

div.bg-1>ul>li:nth-of-type(5)>a {
  position : relative;
  top : 0px;
  left : -11px;
}

div.bg-2 {
  position : relative;
 width : 523px;
}

div.block-nad-menu {
  position : relative;
}

div.right {
  position : relative;
}

div.right>img:nth-of-type(1) {
  position : relative;
}

div.right>img:nth-of-type(3) {
  position : relative;
}

div.right>p:nth-of-type(3) {
  position : relative;
  top : -13px;
}

#content {
  position : relative;
 top : -25px;
  left : -193px;
}

div.bg-1 {
  position : relative;
}

#podval {
  position : relative;
}

body {
  width : 396px;
}

div.right {
  width : 385px;
  right : 562px;
}

#menu-top {
  width : 376px;
}

div.right {
  top : 43px;
  left : -101px;
}

#content {
  width : 662px;
}

div.block-menu>ul>li:nth-of-type(3) {
  font-size : 20px;
}

div.block-menu>ul>li:nth-of-type(7)>a {
  font-size : 20px;
}

div.block-menu>ul>li:nth-of-type(6)>a {
  font-size : 20px;
}

div.block-menu>ul>li:nth-of-type(5)>a {
  font-size : 18px;
  height : 15px;
}

div.block-menu>ul>li:nth-of-type(4)>a {
  font-size : 20px;
  height : 14px;
  width : 188px;
  left : 0px;
}

div.block-menu>ul>li:nth-of-type(1)>a {
  font-size : 20px;
}

div.block-menu>ul>li:nth-of-type(2)>a {
  font-size : 20px;
}

div.block-menu>ul>li:nth-of-type(6)>a {
  height : 23px;
}

div.dropdown {
  font-size : 16px;
}

button.dropbtn {
  height : 39px;
  top : 10px;
}

div.block-menu>ul>li:nth-of-type(7)>a {
  height : 15px;
  width : 188px;
}

div.bg-1 {
  top : -3px;
  left : -20px;
  font-size : 20px;
}

div.block-nad-menu {
 width : 524px;
  height : 12px;
}

div.block-menu {
  height : 368px;
}

#head-site>img {
  position : relative;
}

#head-site>a>img {
  position : relative;
}

#basic {
  width : 448px;
}

div.right>p:nth-of-type(1) {
  width : 459px;
}

div.right>p:nth-of-type(2) {
  width : 460px;
}

div.right>p:nth-of-type(3) {
  width : 457px;
}

div.block-menu>ul>li:nth-of-type(6)>a {
  left : 0px;
}

div.block-menu>ul>li:nth-of-type(1)>a {
  position : relative;
  top : -8px;
}

div.block-menu>ul>li:nth-of-type(2)>a {
  top : -9px;
}

div.block-menu>ul>li:nth-of-type(3)>a {
  top : -8px;
}

div.block-menu>ul>li:nth-of-type(4)>a {
  top : -7px;
}

div.block-menu>ul>li:nth-of-type(5)>a {
  top : 3px;
}

div.block-menu>ul>li:nth-of-type(6)>a {
  top : 6px;
}

div.block-menu>ul>li:nth-of-type(7)>a {
  top : 10px;
  left : 2px;
}

div.dropdown {
  top : 12px;
  left : 15px;
}

button.dropbtn {
  font-size : 18px;
}

div.right>p:nth-of-type(3) {
  left : 6px;
}

div.right>p:nth-of-type(2) {
  top : 1px;
  left : 5px;
}

div.right>p:nth-of-type(1) {
  left : 7px;
  font-size : 18px;
}

div.right>p:nth-of-type(2) {
  font-size : 18px;
}

div.bg-1>ul>li:nth-of-type(4)>a {
  position : relative;
  top : 1px;
  height : 50px;
}

#left-menu {
  top : -384px;
  left : 375px;
}

div.block-nad-menu {
  top : -2px;
  left : -204px;
}

div.bg-1>ul>li:nth-of-type(6)>a {
  position : relative;
}

div.bg-1>ul>li:nth-of-type(5)>a {
  width : 149px;
}

div.bg-1>ul>li:nth-of-type(4)>a {
  width : 153px;
  left : -12px;
}

div.bg-1>ul>li:nth-of-type(3)>a {
  position : relative;
  left : -10px;
  width : 151px;
}

div.bg-1>ul>li:nth-of-type(2)>a {
  width : 152px;
  position : relative;
  left : -12px;
}

div.bg-1>ul>li:nth-of-type(1)>a {
  height : 34px;
  position : relative;
  top : 6px;
  width : 146px;
  left : -8px;
}

div.bg-1>ul>li:nth-of-type(6)>a {
  height : 34px;
  top : -10px;
  left : -10px;
}

button.dropbtn {
  left : -12px;
}

#podval {
  width : 461px;
  height : 14px;
}

div.yellow {
  width : 389px;
  height : 8px;
}

div.right>img:nth-of-type(1) {
  width : 461px;
  height : 217px;
}

div.right>img:nth-of-type(3) {
  width : 466px;
  height : 230px;
  top : -13px;
}

#podval {
  top : 23px;
  left : 189px;
}

div.block-nad-menu {
  width : 488px;
}

div.block-menu {
  top : -1px;
  left : 17px;
}

div.bg-1 {
  width : 209px;
}

#head-site>img {
  top : -23px;
  left : -25px;
  width : 185px;
  height : 69px;
}

#head-site>a>img {
  width : 87px;
  height : 82px;
  top : -20px;
  left : -20px;
}

div.right>img:nth-of-type(3) {
  left : 5px !important;
}

div.right>img:nth-of-type(1) {
  top : -3px !important;
  left : -4px !important;
}

div.bg-2 {
  width : 491px;
  top : -2px;
  left : -22px;
}

#content {
  top : -26px;
  left : -193px;
}

div.block-menu {
  width : 258px;
}




 /*махачкала*/
div.right>iframe {
  display : inline-block;
  position : relative;
 width : 405px;
  height : 255px;
  top : -7px;
  left : 10px;
}

div.right>p:nth-of-type(3) {
  font-size : 18px;
  width : 472px;
  left : 1px;
}

body {
  position : relative;
  top : -2px;
}

div.right>p:nth-of-type(4) {
  width : 476px;
  font-size : 18px;
}

div.right>p:nth-of-type(5)>img {
  position : relative;
  top : 5px;
  height : 268px;
  width : 434px;
  left : 11px;
}

div.right>p:nth-of-type(6) {
  width : 460px;
  font-size : 18px;
}

div.right>img {
  top : -28px !important;
  width : 415px !important;
  height : 235px !important;
  left : 16px !important;
}

body {
  width : 493px;
}

div.right>p:nth-of-type(5)>img {
  width : 414px;
  height : 255px;
  top : 3px;
  left : 31px;
}

#basic {
  width : 483px;
}

#content {
  width : 678px;
}


/*ботлихский*/
yatag.e859890be {
  height : 221px;
  top : 29px;
}

div.right>p:nth-of-type(5) {
  font-size : 18px;
  width : 481px;
}

#id3558 {
  display : inline-block;
  height : 236px;
  position : relative !important;
  top : 14px;
}
/*kom*/
 #vkwidget1 {
  position : relative;
  display : inline-block;
  width : 502px;
  height : 186px !important;
  top : -19px;
  left : -11px;
}

yatag.f24684628 {
  top : 36px;
  left : 15px;
}

#vk_comments {
  width : 505px !important;
}

#basic {
  width : 536px;
}

}
/*вторая хрень*/

